In [1]:
import datetime, mmap,os,re, sys, decimal, hddm
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import scipy as sp
from patsy import dmatrix
% matplotlib inline 
% reload_ext rpy2.ipython
%R library(lsmeans)
%R library(afex)

/Users/mlm2/anaconda/lib/python3.5/site-packages/IPython/parallel.py:13: ShimWarning: The `IPython.parallel` package has been deprecated. You should import from ipyparallel instead.
  "You should import from ipyparallel instead.", ShimWarning)
/Users/mlm2/anaconda/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Loading required package: estimability

  warnings.warn(x, RRuntimeWarning)
/Users/mlm2/anaconda/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Loading required package: lme4

  warnings.warn(x, RRuntimeWarning)
/Users/mlm2/anaconda/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Loading required package: Matrix

  warnings.warn(x, RRuntimeWarning)
/Users/mlm2/anaconda/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Loading required package: reshape2

  warnings.warn(x, RRuntimeWarning)
/Users/mlm2/anaconda/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: ************
Welcome to afex. Important changes in the current version:

  warnings.warn(x, RRuntimeWarning)
/Users/mlm2/anaconda/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: - Functions for ANOVAs have been renamed to: aov_car(), aov_ez(), and aov_4().
- ANOVA functions return an object of class 'afex_aov' as default, see: ?aov_car
- 'afex_aov' objects can be passed to lsmeans for contrasts and follow-up tests.
- Reset previous (faster) behavior via: afex_options(return_aov='nice')
- Many more arguments can now be set globally via options, see: afex_options()
************

  warnings.warn(x, RRuntimeWarning)

array(['afex', 'reshape2', 'lme4', 'Matrix', 'lsmeans', 'estimability',
       'tools', 'stats', 'graphics', 'grDevices', 'utils', 'datasets',
       'methods', 'base'],
      dtype='<U12')

In [28]:
path2data = '/Users/mlm2/Work/Expts/StressMem/Data/Beh_Pilots/'

adding in our 4 pilots...

In [158]:
data = pd.read_csv(path2data + 'Pilot4_StressMem_Retrieval_1.csv')
data = data.append(pd.read_csv(path2data + 'Pilot3_StressMem_Retrieval_1.csv'))
data = data.append(pd.read_csv(path2data + 'Pilot2_StressMem_Retrieval_1.csv'))
data = data.append(pd.read_csv(path2data + 'Pilot1_StressMem_Retrieval_1.csv'))
data

,subject,session,trial,word,status,recog_resp,recog_rt,task,task_resp,task_rt,iti_dur
0,Pilot4,1,1,annoying,new,6,1.850,NaN,NaN,999.000,501
1,Pilot4,1,2,miserable,new,5,0.417,NaN,NaN,999.000,501
2,Pilot4,1,3,heartbroken,new,5,1.017,NaN,NaN,999.000,501
3,Pilot4,1,4,grumpy,old,1,1.767,Describes_you,6.0,0.800,501
4,Pilot4,1,5,confident,old,1,0.584,Describes_you,5.0,1.400,501
5,Pilot4,1,6,smart,new,3,1.467,NaN,NaN,999.000,1002
6,Pilot4,1,7,terrified,new,5,0.636,NaN,NaN,999.000,501
7,Pilot4,1,8,uninvited,old,3,2.201,Describes_you,NaN,999.000,2004
8,Pilot4,1,9,expert,old,1,0.717,Describes_you,6.0,2.034,501
9,Pilot4,1,10,coward,new,3,1.620,NaN,NaN,999.000,1002
10,Pilot4,1,11,witty,old,1,0.567,Describes_you,6.0,0.550,1002
11,Pilot4,1,12,productive,old,3,2.884,Emotion,NaN,999.000,2004
12,Pilot4,1,13,terrible,old,3,1.434,Emotion,NaN,999.000,1002
13,Pilot4,1,14,immoral,old,1,0.917,Emotion,1.0,1.567,501
14,Pilot4,1,15,happy,old,1,0.400,Describes_you,6.0,0.567,501
15,Pilot4,1,16,charm,old,2,0.534,Emotion,5.0,0.567,1002
16,Pilot4,1,17,champ,old,1,0.767,Describes_you,1.0,0.684,1002
17,Pilot4,1,18,enthusiastic,new,4,1.301,NaN,NaN,999.000,501
18,Pilot4,1,19,talented,new,2,0.483,NaN,5.0,2.200,1002
19,Pilot4,1,20,dynamo,old,1,0.767,Emotion,1.0,0.384,2004
20,Pilot4,1,21,spirited,new,5,0.650,NaN,NaN,999.000,501
21,Pilot4,1,22,sad,new,2,0.784,NaN,3.0,1.367,2004
22,Pilot4,1,23,phony,old,2,0.550,Describes_you,4.0,0.834,501
23,Pilot4,1,24,progress,new,6,0.751,NaN,NaN,999.000,2004
24,Pilot4,1,25,prick,new,6,0.353,NaN,NaN,999.000,501
25,Pilot4,1,26,emptiness,old,3,0.484,Describes_you,NaN,999.000,501
26,Pilot4,1,27,partner,old,1,0.600,Emotion,1.0,0.653,501
27,Pilot4,1,28,inadequate,new,6,0.534,NaN,NaN,999.000,501
28,Pilot4,1,29,affectionate,new,3,1.234,NaN,NaN,999.000,501
29,Pilot4,1,30,wellness,new,5,0.350,NaN,NaN,999.000,501
...,...,...,...,...,...,...,...,...,...,...,...
39,Pilot1,1,40,blissful,old,1,0.335,Describes_you,6.0,0.518,501
40,Pilot1,1,41,humorous,new,6,0.569,NaN,NaN,999.000,2004
41,Pilot1,1,42,cleverness,old,1,0.419,Describes_you,6.0,0.401,501
42,Pilot1,1,43,gentle,old,1,0.485,Describes_you,5.0,1.370,501
43,Pilot1,1,44,parasite,new,6,0.370,NaN,NaN,999.000,1002
44,Pilot1,1,45,commitment,old,1,0.435,Emotion,2.0,0.452,501
45,Pilot1,1,46,hugger,old,1,1.102,Emotion,2.0,0.519,2004
46,Pilot1,1,47,disaster,new,5,0.952,NaN,NaN,999.000,501
47,Pilot1,1,48,shame,new,4,0.335,NaN,NaN,999.000,501
48,Pilot1,1,49,gross,new,5,0.318,NaN,NaN,999.000,501
49,Pilot1,1,50,visionary,old,1,0.535,Emotion,2.0,0.635,1002
50,Pilot1,1,51,attractive,new,4,1.336,NaN,NaN,999.000,2004
51,Pilot1,1,52,esteem,old,1,0.302,Emotion,1.0,1.103,1002
52,Pilot1,1,53,burden,new,5,0.352,NaN,NaN,999.000,501
53,Pilot1,1,54,unforgivable,new,6,0.685,NaN,NaN,999.000,501
54,Pilot1,1,55,enthusiastic,new,2,1.904,NaN,4.0,2.921,1002
55,Pilot1,1,56,special,new,5,0.385,NaN,NaN,999.000,2004
56,Pilot1,1,57,witty,new,6,0.385,NaN,NaN,999.000,501
57,Pilot1,1,58,fraud,new,6,0.135,NaN,NaN,999.000,1002
58,Pilot1,1,59,openness,new,5,0.652,NaN,NaN,999.000,501
59,Pilot1,1,60,slob,new,5,0.353,NaN,NaN,999.000,501
60,Pilot1,1,61,academic,old,1,0.502,Describes_you,5.0,0.318,1002
61,Pilot1,1,62,winner,new,4,0.952,NaN,NaN,999.000,2004
62,Pilot1,1,63,vibrant,new,5,0.769,NaN,NaN,999.000,1002
63,Pilot1,1,64,dreamer,new,5,0.352,NaN,NaN,999.000,501
64,Pilot1,1,65,excellence,old,4,0.318,Describes_you,NaN,999.000,501
65,Pilot1,1,66,ambition,old,5,0.385,Emotion,NaN,999.000,501
66,Pilot1,1,67,energetic,old,2,0.552,Describes_you,4.0,2.270,1002
67,Pilot1,1,68,wellness,old,1,0.285,Emotion,2.0,0.352,2004
68,Pilot1,1,69,friend,new,5,0.301,NaN,NaN,999.000,501

"correct" here is pretty generous, we give it to them if they select "sure" "probably" or "maybe" in the correct direction

In [159]:
data['correct_recog'] = 0
data.loc[(data.status == 'old') & (data.recog_resp <= 3), 'correct_recog'] = 1
data.loc[(data.status == 'new') & (data.recog_resp >= 4), 'correct_recog'] = 1
data

,subject,session,trial,word,status,recog_resp,recog_rt,task,task_resp,task_rt,iti_dur,correct_recog
0,Pilot4,1,1,annoying,new,6,1.850,NaN,NaN,999.000,501,1
1,Pilot4,1,2,miserable,new,5,0.417,NaN,NaN,999.000,501,1
2,Pilot4,1,3,heartbroken,new,5,1.017,NaN,NaN,999.000,501,1
3,Pilot4,1,4,grumpy,old,1,1.767,Describes_you,6.0,0.800,501,1
4,Pilot4,1,5,confident,old,1,0.584,Describes_you,5.0,1.400,501,1
5,Pilot4,1,6,smart,new,3,1.467,NaN,NaN,999.000,1002,0
6,Pilot4,1,7,terrified,new,5,0.636,NaN,NaN,999.000,501,1
7,Pilot4,1,8,uninvited,old,3,2.201,Describes_you,NaN,999.000,2004,1
8,Pilot4,1,9,expert,old,1,0.717,Describes_you,6.0,2.034,501,1
9,Pilot4,1,10,coward,new,3,1.620,NaN,NaN,999.000,1002,0
10,Pilot4,1,11,witty,old,1,0.567,Describes_you,6.0,0.550,1002,1
11,Pilot4,1,12,productive,old,3,2.884,Emotion,NaN,999.000,2004,1
12,Pilot4,1,13,terrible,old,3,1.434,Emotion,NaN,999.000,1002,1
13,Pilot4,1,14,immoral,old,1,0.917,Emotion,1.0,1.567,501,1
14,Pilot4,1,15,happy,old,1,0.400,Describes_you,6.0,0.567,501,1
15,Pilot4,1,16,charm,old,2,0.534,Emotion,5.0,0.567,1002,1
16,Pilot4,1,17,champ,old,1,0.767,Describes_you,1.0,0.684,1002,1
17,Pilot4,1,18,enthusiastic,new,4,1.301,NaN,NaN,999.000,501,1
18,Pilot4,1,19,talented,new,2,0.483,NaN,5.0,2.200,1002,0
19,Pilot4,1,20,dynamo,old,1,0.767,Emotion,1.0,0.384,2004,1
20,Pilot4,1,21,spirited,new,5,0.650,NaN,NaN,999.000,501,1
21,Pilot4,1,22,sad,new,2,0.784,NaN,3.0,1.367,2004,0
22,Pilot4,1,23,phony,old,2,0.550,Describes_you,4.0,0.834,501,1
23,Pilot4,1,24,progress,new,6,0.751,NaN,NaN,999.000,2004,1
24,Pilot4,1,25,prick,new,6,0.353,NaN,NaN,999.000,501,1
25,Pilot4,1,26,emptiness,old,3,0.484,Describes_you,NaN,999.000,501,1
26,Pilot4,1,27,partner,old,1,0.600,Emotion,1.0,0.653,501,1
27,Pilot4,1,28,inadequate,new,6,0.534,NaN,NaN,999.000,501,1
28,Pilot4,1,29,affectionate,new,3,1.234,NaN,NaN,999.000,501,0
29,Pilot4,1,30,wellness,new,5,0.350,NaN,NaN,999.000,501,1
...,...,...,...,...,...,...,...,...,...,...,...,...
39,Pilot1,1,40,blissful,old,1,0.335,Describes_you,6.0,0.518,501,1
40,Pilot1,1,41,humorous,new,6,0.569,NaN,NaN,999.000,2004,1
41,Pilot1,1,42,cleverness,old,1,0.419,Describes_you,6.0,0.401,501,1
42,Pilot1,1,43,gentle,old,1,0.485,Describes_you,5.0,1.370,501,1
43,Pilot1,1,44,parasite,new,6,0.370,NaN,NaN,999.000,1002,1
44,Pilot1,1,45,commitment,old,1,0.435,Emotion,2.0,0.452,501,1
45,Pilot1,1,46,hugger,old,1,1.102,Emotion,2.0,0.519,2004,1
46,Pilot1,1,47,disaster,new,5,0.952,NaN,NaN,999.000,501,1
47,Pilot1,1,48,shame,new,4,0.335,NaN,NaN,999.000,501,1
48,Pilot1,1,49,gross,new,5,0.318,NaN,NaN,999.000,501,1
49,Pilot1,1,50,visionary,old,1,0.535,Emotion,2.0,0.635,1002,1
50,Pilot1,1,51,attractive,new,4,1.336,NaN,NaN,999.000,2004,1
51,Pilot1,1,52,esteem,old,1,0.302,Emotion,1.0,1.103,1002,1
52,Pilot1,1,53,burden,new,5,0.352,NaN,NaN,999.000,501,1
53,Pilot1,1,54,unforgivable,new,6,0.685,NaN,NaN,999.000,501,1
54,Pilot1,1,55,enthusiastic,new,2,1.904,NaN,4.0,2.921,1002,0
55,Pilot1,1,56,special,new,5,0.385,NaN,NaN,999.000,2004,1
56,Pilot1,1,57,witty,new,6,0.385,NaN,NaN,999.000,501,1
57,Pilot1,1,58,fraud,new,6,0.135,NaN,NaN,999.000,1002,1
58,Pilot1,1,59,openness,new,5,0.652,NaN,NaN,999.000,501,1
59,Pilot1,1,60,slob,new,5,0.353,NaN,NaN,999.000,501,1
60,Pilot1,1,61,academic,old,1,0.502,Describes_you,5.0,0.318,1002,1
61,Pilot1,1,62,winner,new,4,0.952,NaN,NaN,999.000,2004,1
62,Pilot1,1,63,vibrant,new,5,0.769,NaN,NaN,999.000,1002,1
63,Pilot1,1,64,dreamer,new,5,0.352,NaN,NaN,999.000,501,1
64,Pilot1,1,65,excellence,old,4,0.318,Describes_you,NaN,999.000,501,0
65,Pilot1,1,66,ambition,old,5,0.385,Emotion,NaN,999.000,501,0
66,Pilot1,1,67,energetic,old,2,0.552,Describes_you,4.0,2.270,1002,1
67,Pilot1,1,68,wellness,old,1,0.285,Emotion,2.0,0.352,2004,1
68,Pilot1,1,69,friend,new,5,0.301,NaN,NaN,999.000,501,1

**Looking at recognition...**

**Note:** Pilots 1-3 don't have 100 trials because of a (now fixed) programming error in the retrieval task

In [160]:
print (data.correct_recog.value_counts()) # looking at totals

1    238
0     69
Name: correct_recog, dtype: int64

so they were correct 77.5% of the time

In [161]:
print (data.groupby('subject')['correct_recog'].value_counts()) # by participant

subject  correct_recog
Pilot1   1                64
         0                 5
Pilot2   1                40
         0                30
Pilot3   1                54
         0                14
Pilot4   1                80
         0                20
Name: correct_recog, dtype: int64

In [162]:
print ('Percent correct: ')
print (data.groupby('subject')['correct_recog'].value_counts()[:,1]/(data.groupby('subject')['correct_recog'].value_counts()[:,0] + data.groupby('subject')['correct_recog'].value_counts()[:,1]) * 100)

Percent correct:
subject
Pilot1    92.753623
Pilot2    57.142857
Pilot3    79.411765
Pilot4    80.000000
Name: correct_recog, dtype: float64

In [163]:
data.loc[(pd.notnull(data.task) & pd.notnull(data.task_resp)), 'correct_source'] = 0
data.loc[(data.task == 'Describes_you') & (data.task_resp > 3), 'correct_source'] = 1
data.loc[(data.task == 'Emotion') & (data.task_resp < 4), 'correct_source'] = 1
data.head()

In [164]:
data

,subject,session,trial,word,status,recog_resp,recog_rt,task,task_resp,task_rt,iti_dur,correct_recog,correct_source
0,Pilot4,1,1,annoying,new,6,1.850,NaN,NaN,999.000,501,1,NaN
1,Pilot4,1,2,miserable,new,5,0.417,NaN,NaN,999.000,501,1,NaN
2,Pilot4,1,3,heartbroken,new,5,1.017,NaN,NaN,999.000,501,1,NaN
3,Pilot4,1,4,grumpy,old,1,1.767,Describes_you,6.0,0.800,501,1,1.0
4,Pilot4,1,5,confident,old,1,0.584,Describes_you,5.0,1.400,501,1,1.0
5,Pilot4,1,6,smart,new,3,1.467,NaN,NaN,999.000,1002,0,NaN
6,Pilot4,1,7,terrified,new,5,0.636,NaN,NaN,999.000,501,1,NaN
7,Pilot4,1,8,uninvited,old,3,2.201,Describes_you,NaN,999.000,2004,1,NaN
8,Pilot4,1,9,expert,old,1,0.717,Describes_you,6.0,2.034,501,1,1.0
9,Pilot4,1,10,coward,new,3,1.620,NaN,NaN,999.000,1002,0,NaN
10,Pilot4,1,11,witty,old,1,0.567,Describes_you,6.0,0.550,1002,1,1.0
11,Pilot4,1,12,productive,old,3,2.884,Emotion,NaN,999.000,2004,1,NaN
12,Pilot4,1,13,terrible,old,3,1.434,Emotion,NaN,999.000,1002,1,NaN
13,Pilot4,1,14,immoral,old,1,0.917,Emotion,1.0,1.567,501,1,1.0
14,Pilot4,1,15,happy,old,1,0.400,Describes_you,6.0,0.567,501,1,1.0
15,Pilot4,1,16,charm,old,2,0.534,Emotion,5.0,0.567,1002,1,0.0
16,Pilot4,1,17,champ,old,1,0.767,Describes_you,1.0,0.684,1002,1,0.0
17,Pilot4,1,18,enthusiastic,new,4,1.301,NaN,NaN,999.000,501,1,NaN
18,Pilot4,1,19,talented,new,2,0.483,NaN,5.0,2.200,1002,0,NaN
19,Pilot4,1,20,dynamo,old,1,0.767,Emotion,1.0,0.384,2004,1,1.0
20,Pilot4,1,21,spirited,new,5,0.650,NaN,NaN,999.000,501,1,NaN
21,Pilot4,1,22,sad,new,2,0.784,NaN,3.0,1.367,2004,0,NaN
22,Pilot4,1,23,phony,old,2,0.550,Describes_you,4.0,0.834,501,1,1.0
23,Pilot4,1,24,progress,new,6,0.751,NaN,NaN,999.000,2004,1,NaN
24,Pilot4,1,25,prick,new,6,0.353,NaN,NaN,999.000,501,1,NaN
25,Pilot4,1,26,emptiness,old,3,0.484,Describes_you,NaN,999.000,501,1,NaN
26,Pilot4,1,27,partner,old,1,0.600,Emotion,1.0,0.653,501,1,1.0
27,Pilot4,1,28,inadequate,new,6,0.534,NaN,NaN,999.000,501,1,NaN
28,Pilot4,1,29,affectionate,new,3,1.234,NaN,NaN,999.000,501,0,NaN
29,Pilot4,1,30,wellness,new,5,0.350,NaN,NaN,999.000,501,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,Pilot1,1,40,blissful,old,1,0.335,Describes_you,6.0,0.518,501,1,1.0
40,Pilot1,1,41,humorous,new,6,0.569,NaN,NaN,999.000,2004,1,NaN
41,Pilot1,1,42,cleverness,old,1,0.419,Describes_you,6.0,0.401,501,1,1.0
42,Pilot1,1,43,gentle,old,1,0.485,Describes_you,5.0,1.370,501,1,1.0
43,Pilot1,1,44,parasite,new,6,0.370,NaN,NaN,999.000,1002,1,NaN
44,Pilot1,1,45,commitment,old,1,0.435,Emotion,2.0,0.452,501,1,1.0
45,Pilot1,1,46,hugger,old,1,1.102,Emotion,2.0,0.519,2004,1,1.0
46,Pilot1,1,47,disaster,new,5,0.952,NaN,NaN,999.000,501,1,NaN
47,Pilot1,1,48,shame,new,4,0.335,NaN,NaN,999.000,501,1,NaN
48,Pilot1,1,49,gross,new,5,0.318,NaN,NaN,999.000,501,1,NaN
49,Pilot1,1,50,visionary,old,1,0.535,Emotion,2.0,0.635,1002,1,1.0
50,Pilot1,1,51,attractive,new,4,1.336,NaN,NaN,999.000,2004,1,NaN
51,Pilot1,1,52,esteem,old,1,0.302,Emotion,1.0,1.103,1002,1,1.0
52,Pilot1,1,53,burden,new,5,0.352,NaN,NaN,999.000,501,1,NaN
53,Pilot1,1,54,unforgivable,new,6,0.685,NaN,NaN,999.000,501,1,NaN
54,Pilot1,1,55,enthusiastic,new,2,1.904,NaN,4.0,2.921,1002,0,NaN
55,Pilot1,1,56,special,new,5,0.385,NaN,NaN,999.000,2004,1,NaN
56,Pilot1,1,57,witty,new,6,0.385,NaN,NaN,999.000,501,1,NaN
57,Pilot1,1,58,fraud,new,6,0.135,NaN,NaN,999.000,1002,1,NaN
58,Pilot1,1,59,openness,new,5,0.652,NaN,NaN,999.000,501,1,NaN
59,Pilot1,1,60,slob,new,5,0.353,NaN,NaN,999.000,501,1,NaN
60,Pilot1,1,61,academic,old,1,0.502,Describes_you,5.0,0.318,1002,1,1.0
61,Pilot1,1,62,winner,new,4,0.952,NaN,NaN,999.000,2004,1,NaN
62,Pilot1,1,63,vibrant,new,5,0.769,NaN,NaN,999.000,1002,1,NaN
63,Pilot1,1,64,dreamer,new,5,0.352,NaN,NaN,999.000,501,1,NaN
64,Pilot1,1,65,excellence,old,4,0.318,Describes_you,NaN,999.000,501,0,NaN
65,Pilot1,1,66,ambition,old,5,0.385,Emotion,NaN,999.000,501,0,NaN
66,Pilot1,1,67,energetic,old,2,0.552,Describes_you,4.0,2.270,1002,1,1.0
67,Pilot1,1,68,wellness,old,1,0.285,Emotion,2.0,0.352,2004,1,1.0
68,Pilot1,1,69,friend,new,5,0.301,NaN,NaN,999.000,501,1,NaN

In [166]:
print (data.correct_source.value_counts()) # looking at totals

1.0    78
0.0    19
Name: correct_source, dtype: int64

In [167]:
print (data.groupby('subject')['correct_source'].value_counts()) # by participant

subject  correct_source
Pilot1   1.0               18
         0.0                2
Pilot2   1.0               13
         0.0                6
Pilot3   1.0               18
         0.0                2
Pilot4   1.0               29
         0.0                9
Name: correct_source, dtype: int64

In [168]:
print ('Percent correct: ')
print (data.groupby('subject')['correct_source'].value_counts()[:,1]/(data.groupby('subject')['correct_source'].value_counts()[:,0] + data.groupby('subject')['correct_source'].value_counts()[:,1]) * 100)

Percent correct:
subject
Pilot1    90.000000
Pilot2    68.421053
Pilot3    90.000000
Pilot4    76.315789
Name: correct_source, dtype: float64

Does the question at encoding matter?

In [179]:
print ('Percent correct: ')
print (data.groupby('task')['correct_source'].value_counts()[:,1]/(data.groupby('task')['correct_recog'].value_counts()[:,0] + data.groupby('task')['correct_recog'].value_counts()[:,1]) * 100)

Percent correct:
task
Describes_you    59.090909
Emotion          66.101695
dtype: float64

In [180]:
print (data.groupby(['subject','task'])['correct_recog'].value_counts())

subject  task           correct_recog
Pilot1   Describes_you  1                11
                        0                 1
         Emotion        1                11
                        0                 2
Pilot2   Describes_you  1                11
                        0                 1
         Emotion        1                10
                        0                 3
Pilot3   Describes_you  1                10
                        0                 3
         Emotion        1                11
                        0                 1
Pilot4   Describes_you  1                27
                        0                 2
         Emotion        1                19
                        0                 2
Name: correct_recog, dtype: int64

Looks like emotion is remembered a little better

In [169]:
print ('Percent correct: ')
print (data.groupby('task')['correct_source'].value_counts()[:,1]/(data.groupby('task')['correct_source'].value_counts()[:,0] + data.groupby('task')['correct_source'].value_counts()[:,1]) * 100)

Percent correct:
task
Describes_you    73.584906
Emotion          88.636364
Name: correct_source, dtype: float64

In [178]:
print (data.groupby(['subject','task'])['correct_source'].value_counts())

subject  task           correct_source
Pilot1   Describes_you  1.0                8
                        0.0                2
         Emotion        1.0               10
Pilot2   Describes_you  1.0                7
                        0.0                4
         Emotion        1.0                6
                        0.0                2
Pilot3   Describes_you  1.0                8
                        0.0                2
         Emotion        1.0               10
Pilot4   Describes_you  1.0               16
                        0.0                6
         Emotion        1.0               13
                        0.0                3
Name: correct_source, dtype: int64